<div class="row">
  <div class="col-lg-offset-2 col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Importar archivo</h3>
      </div>
      <div class="panel-body">
        <%= form_for @importacion do |f| %>
          <% if @importacion.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@importacion.errors.count, "error") %> No se puede completar la importación:</h2>
              <ul>
                <% @importacion.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="row">
            <div class="col-lg-6">
              <div class="field">
                <%= f.file_field :archivo %>
              </div>
            </div>
            <div class="col-lg-6">
              <%= f.submit "Importar", class: "btn btn-info" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
